*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  width: 25%;
  height: 100%;
  position: fixed;
  background-color: #ecf0f1;
  overflow: auto;
  list-style: none;
}
.container{
  display: flex;
}
ul li a{
  text-decoration: none;
  color: #34495e;
  text-transform: capitalize;
  display: block;
  padding: 10px 20px;
  transition:  0.3s;
}
li a.active{
  background-color: #04aa6d;
  color: #fff;
}
ul li a:hover:not(.active),.dropdown:hover .dropbtn{
  background-color: #7f8c8d;
  color: #fff;
}
.dropdown{
  position: relative;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}
.dropdown:hover .dropdown-content{
  display: block;
}


/* aside Style */

.wraper{
  margin-left: 25%;
  padding: 0 30px;
  background-color: #bdc3c7;
  padding-bottom: 20px;
}
.title{
  text-align: center;
  padding: 30px 0;
}

.contents{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.content{
  width: 270px;
  border-radius: 10px;
  background-color: #ecf0f1;
  /* border: 1px solid #fff; */
}
.content:hover{
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
}
.content img{
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 0.7;
  transition: all 0.3s linear;
}
.content img:hover{
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity: 1;
}
.content p{
  padding: 20px;
  text-align: justify;
}
.icon{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}
.icon-left i{
  color: #04AA6D;
  cursor: pointer;
}
.icon-right i{
  color: #7f8c8d;
  cursor: pointer;
}
.icon-right i:hover{
  color: #04AA6D;
}
.btn{
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  width: 90%;
  border: 1px solid #04AA6D;
  padding: 10px 0;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 20px;
  transition: all 0.2s linear;
}
.btn:hover{
  background-color: #04AA6D;
  color: #fff;
}

/* Footer */

footer{
  display: flex;
  margin-left: 25%;
  height: 100px;
  background-color: #34495e;
  color: #fff;
  align-items: center;
  justify-content: center;
}
